aiohttp==3.9.5
aiosqlite==0.20.0
bs4==0.0.2
fastapi==0.111.0
typer==0.9.0 
html2text==2024.2.26
httpx==0.27.0
lazy_import==0.2.2
litellm==1.37.11
nltk==3.8.1
pydantic==2.7.1
python-dotenv==1.0.1
requests==2.31.0
rich==13.7.1
scikit-learn==1.4.2
selenium==4.20.0
spacy==3.7.4
uvicorn==0.29.0
