<section class="hero bg-zinc-900 py-8 px-20 text-zinc-400">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold mb-4">🤔 Why building this?</h2>
        <p class="text-lg mb-4">
            In recent times, we've witnessed a surge of startups emerging, riding the AI hype wave and charging
            for services that should rightfully be accessible to everyone. 🌍💸 One such example is scraping and
            crawling web pages and transforming them into a format suitable for Large Language Models (LLMs).
            🕸️🤖 We believe that building a business around this is not the right approach; instead, it should
            definitely be open-source. 🆓🌟 So, if you possess the skills to build such tools and share our
            philosophy, we invite you to join our "Robinhood" band and help set these products free for the
            benefit of all. 🤝💪
        </p>
    </div>
</section>

<footer class="bg-zinc-900 text-zinc-400 py-4">
    <div class="container mx-auto px-4">
        <div class="flex justify-between items-center">
            <p>© 2024 Crawl4AI. All rights reserved.</p>
            <div class="social-links">
                <a
                    href="https://github.com/unclecode/crawl4ai"
                    class="text-zinc-400 hover:text-gray-300 mx-2"
                    target="_blank"
                    >😺 GitHub</a
                >
                <a
                    href="https://twitter.com/unclecode"
                    class="text-zinc-400 hover:text-gray-300 mx-2"
                    target="_blank"
                    >🐦 Twitter</a
                >
            </div>
        </div>
    </div>
</footer>